@use 'variable.scss';
@use 'mixin.scss';

.button {
  background-color: transparent;
  border: 1px solid variable.$gray-100;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.body {
  background-color: variable.$gray-900;
  border: 1px solid variable.$gray-600;
  padding: 0.5em 0;

  & > * {
    min-width: 232px;
    padding: 0.25em 1em;

    &:hover {
      background-color: variable.$gray-800;
    }

    @include mixin.responsive(sm) {
      min-width: 128px;
    }
  }
}
