$base-black: #000000;
$base-white: #ffffff;

$gray-900: #212121;
$gray-800: #424242;
$gray-700: #616161;
$gray-600: #757575;
$gray-500: #9e9e9e;
$gray-400: #bdbdbd;
$gray-300: #e0e0e0;
$gray-200: #eeeeee;
$gray-100: #f5f5f5;
$gray-50: #fafafa;

$primary-900: #881337;
$primary-800: #9f1239;
$primary-700: #be123c;
$primary-600: #e11d48;
$primary-500: #F43F5E;
$primary-400: #FB7185;
$primary-300: #FDA4AF;
$primary-200: #FECDD3;
$primary-100: #ffe4e6;
$primary-50: #FFF1F2;
$primary: $primary-300;
$primary-dark: #9C3757;
$primary-light: #FECDD3;

$secondary-900: #5e5c5c;
$secondary-800: #b74c00;
$secondary-700: #bd5b00;
$secondary-600: #c36900;
$secondary-500: #c67300;
$secondary-400: #cd8615;
$secondary-300: #d49942;
$secondary-200: #dfb678;
$secondary-100: #ecd3ac;
$secondary-50: #f7edde;
$secondary: $secondary-200;
$secondary-dark: #ab864b;
$secondary-light: #ffe8a8;

$header-height: 56px;
$pc-player-controller-height: 76px;
$mobile-player-controller-height: 286px;
